<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JESUS TORRES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">PRUEBA TECNICA</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div>
    <div class="row">
      <div class=" col-sm-12 col-md-6 col-xs-12 text-center">
        <img src="../assets/img/logo.png" alt="" class="size-img">
      </div>
      <div class=" col-sm-12 col-md-6 col-xs-12">
        <div class="mt-5">
          <label for="" class="fs-3 fw-bold mr-4">Clic sobre moneda a depositar en la alcancia</label>
          <div class="botones ">
            <button class="btn btn-primary mt-2 w-75" (click)="addMoney('money_50', 50)"> 50 pesos</button>
            <button class="btn btn-primary mt-2 w-75" (click)="addMoney('money_100', 100)">100 pesos</button>
            <button class="btn btn-primary mt-2 w-75" (click)="addMoney('money_200', 200)">200 pesos</button>
            <button class="btn btn-primary mt-2 w-75" (click)="addMoney('money_500', 500)">500 pesos</button>
            <button class="btn btn-primary mt-2 w-75" (click)="addMoney('money_1000', 1000)">1000 pesos</button>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 class="mt-3">Total depositado: <span class="text-primary">{{ moneyObj.total.totalMoney }}</span> Pesos</h3>
            </div>
          </div>
          
          <table class="table mt-4 w-75">
            <thead>
              <tr>
                <th scope="col">Moneda</th>
                <th scope="col">Cantidad de Monedas</th>
                <th scope="col">Cuanto dinero tengo</th>
                
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <th scope="row">50</th>
                <td>{{ moneyObj.money_50.totalCoin }}</td>
                <td>{{ moneyObj.money_50.totalMoney }}</td>
                
              </tr>
              <tr class="text-center">
                <th scope="row">100</th>
                <td>{{ moneyObj.money_100.totalCoin }}</td>
                <td>{{ moneyObj.money_100.totalMoney }}</td>
                
              </tr>
              <tr class="text-center">
                <th scope="row">200</th>
                <td >{{ moneyObj.money_200.totalCoin }}</td>
                <td>{{ moneyObj.money_200.totalMoney }}</td>
              </tr>
              <tr class="text-center">
                <th scope="row">500</th>
                <td >{{ moneyObj.money_500.totalCoin }}</td>
                <td>{{ moneyObj.money_500.totalMoney }}</td>
              </tr>
              <tr class="text-center">
                <th scope="row">1000</th>
                <td >{{ moneyObj.money_1000.totalCoin }}</td>
                <td>{{ moneyObj.money_1000.totalMoney }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>
</div>